<div id="content">
  <div id="projects">
    <h1>{{username}}'s Projects</h1>
    <div class="project-grid">
      <!-- <ng-container *ngif="projectList.length == 0"><h2>You have not posted any projects yet!</h2></ng-container> -->
      <ng-container *ngFor="let project of projectList">
        <ng-container *ngIf="project.userId['_id'] == userId"
          ><div class="project-card">
            <img src="{{ project.mainImageUrl }}" alt="Project 1" />
            <h2>{{ project.title }}</h2>
            <p>Architect: {{ project.architect }}</p>
            <button [routerLink]="['/projects', project._id]">Details</button>
            
        <ng-container *ngIf="isLogged && project.userId._id == userId">
          <button class="deleteBtn" (click)="deleteProject(project._id)">
            Delete
          </button>
          <button class="editBtn" routerLink="/projects/{{project._id}}/edit">
            Edit
          </button>
        </ng-container>
          </div></ng-container
        >
      </ng-container>
    </div>
  </div>
</div>
