<div class="main-banner change-name">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h6>We Provide Everything</h6>
                    <h2><em>Interior</em> Designer</h2>
                    <div class="white-button">
                        <a routerLinkActive="active"
                        routerLink="/explore/{{ currentId }}">Discover More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>