<nav>
  <span class="logo">I - D - A</span>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>

    <li *ngIf="isLoggedIn">
      <a routerLink="/create" routerLinkActive="active">Create Project</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>
