.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Set the gap between cards (optional, adjust as needed) */
    gap: 20px;
  }


.project-details-card {
    max-width: 80%; /* 3 cards per row, minus the gap */
    width: 1200px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .project-details-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    /* Ensure the image is displayed as a square */
  height: auto;
  object-fit: cover;

  }
  
  .project-details-card h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .project-details-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .project-details-card button {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .project-details-card button:hover {
    background-color: #555;
  }

  .info-container {
    position: relative;
  }

  .info-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(68, 68, 68);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    width: 95%;
  }

  .info-text p {
    width: 180px;
  }

  .info-text p b{
    color: rgb(0, 0, 0);
  }

 .description {
  padding-bottom: 15px;
 }


 .deleteBtn {
  /* margin-left: 150px; */
  background-color: darkred !important;
}

.editBtn {
  margin-left: 25px;
  background-color: darkgoldenrod !important;
}
