<div id="content">
  <div id="projects">
    <h1 *ngIf="project">{{ project.title }}</h1>
    <div class="project-grid">
      <div class="project-details-card" *ngIf="project">
        <div class="info-container">
          <img src="{{ project.mainImageUrl }}" alt="Project 1" />
          <div class="info-text">
            <p>
              <b>Architect:</b><br />
              {{ project.architect }}
            </p>
            <p>
              <b>Client:</b><br />
              {{ project.client }}
            </p>
            <p>
              <b>Location:</b><br />
              {{ project.location }}
            </p>
            <p>
              <b>Type:</b><br />
              {{ project.type }}
            </p>
            <p>
              <b>Style:</b><br />
              {{ project.style }}
            </p>
            <p>
              <b>Date:</b><br />
              {{ project.date }}
            </p>
            <p>
              <b>Terms:</b><br />
              {{ project.terms }}
            </p>
          </div>
        </div>
        <div class="description">
          <p>{{ project.description }}</p>
        </div>
        <ng-container *ngIf="project.imageUrl2"
          ><img
            class="image-gallery"
            src="{{ project.imageUrl2 }}"
            alt="Project 1"
        /></ng-container>
        <ng-container *ngIf="project.imageUrl3"
          ><img
            class="image-gallery"
            src="{{ project.imageUrl3 }}"
            alt="Project 1"
        /></ng-container>

        <ng-container *ngIf="isLogged && isAuthor">
          <button class="deleteBtn" (click)="deleteProject(project._id)">
            Delete
          </button>
          <button class="editBtn" routerLink="/projects/{{project._id}}/edit">
            Edit
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
