<div class="form-container">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <label for="email">Email:</label><br />
      <input
        type="email"
        id="email"
        name="email"
        required
        email
        #inputEmail="ngModel"
        ngModel
      />
    </div>

    <ng-container *ngIf="inputEmail.touched">
      <p class="error" *ngIf="inputEmail.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="inputEmail.errors?.['email']">
        Email is not valid!
      </p>
    </ng-container>

    <div class="form-group">
      <label for="password">Password:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        required
        minlength="5"
        #inputPassword="ngModel"
        ngModel
      />
    </div>

    <ng-container *ngIf="inputPassword.touched">
      <p class="error" *ngIf="inputPassword.errors?.['required']">
        Password is required!
      </p>
      <p class="error" *ngIf="inputPassword.errors?.['minlength']">
        Password must be at least
        {{inputPassword.errors?.['minlength']['requiredLength']}} characters!
      </p>
    </ng-container>

    <ng-container *ngIf="errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </ng-container>

    <button
      class="submit"
      type="submit"
      [disabled]="loginForm.invalid"
      [style]="{
        cursor: loginForm.invalid ? 'not-allowed' : 'pointer'
      }"
    >
      Login
    </button>
    <div class="form-group">
      <div>Don't have an account?</div>
      <a class="action" routerLink="/register" routerLinkActive="active"
        >Register now!</a
      >
    </div>
  </form>
</div>
