body {
  font-family: "Poppins", Arial, sans-serif;

  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(247, 149, 113);
  color: #fff;
  display: flex;
  justify-content: space-between; /* Set links to the right */
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 25px;
  border-radius: 0px 0px 5px 5px;
}

nav a:hover {
  color: rgb(156, 76, 47);
  background-color: rgb(255, 255, 255);
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

#content {
  padding-bottom: 20px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}



/* .project-card {
    max-width: calc(33.33% - 20px); 
    width: 750px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */

/* .project-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
   
  height: 0;
  padding-bottom: 100%;
  object-fit: cover;

  } */

/* .project-card h2 {
    font-size: 18px;
    margin: 0;
  } */

/* .project-card p {
    font-size: 14px;
    margin: 5px 0;
  }
   */
/* .project-card button {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */

/* .project-card button:hover {
    background-color: #555;
  } 
   */






footer {
  background-color: rgb(247, 149, 113);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px; /* Center align h1 heading */
  padding-right: 20px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: 0;
  color: #fff;
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/365/884/original/empty-white-wooden-wall-on-wooden-floor-interior-design-3d-rendering-free-photo.jpg"); /* Replace with the path to your background image */
  background-size: cover;
  letter-spacing: 10px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;

  margin-top: 0;
  margin-bottom: 0;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  /* border: 5px solid rgb(247, 149, 113); */
  background-color: #f0f0f0;
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  align-items: center;
  margin: auto;
}

.form-group {
  display: flex;
  /* margin-bottom: 15px; */
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

label {
  font-weight: bold;
  padding: 10px;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding-right: 0;
}

.submit {
  background-color: rgb(247, 149, 113);
  color: #fff;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-top: 20px;
}

.submit:hover {
  background-color: darkgrey; 
}

.action {
  cursor: pointer;
  color:rgb(247, 149, 113);
}

.error {
  margin: 0;
  color: rgb(196, 2, 2);
  font-style: italic;
  font-size: small;
}
